In [273]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
import statistics as sts

In [274]:
#lendo data
titanic = pd.read_csv('train.csv')
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

FAZENDO O TRATAMENTO DOS DADOS

In [275]:
#fazendo tratamento
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [276]:
#Verificando NaNs
titanic.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [277]:
#Substituindo NaNs em Age
titanic['Age'].fillna(28, inplace = True)
titanic.Age.isnull().sum()

0

In [278]:
#dropando coluna Cabin
titanic.drop(columns= ['Cabin'], inplace= True)

In [279]:
#verificando moda em Embarked
titanic.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [280]:
#substituindo NaNs pela moda
titanic.Embarked.fillna('S', inplace= True)
titanic.Embarked.isnull().sum()

0

Naive Bayes

In [281]:
previsores1 = titanic.iloc[:,[2,4,5,6,7,9,10]].values
classe = titanic.iloc[:,1].values

In [282]:
#convertendo categoricos para numericos
#1, 6

previsores1[:,1] = LabelEncoder().fit_transform(previsores1[:,1])

previsores1[:,6] = LabelEncoder().fit_transform(previsores1[:,6])

In [283]:
#diviindo train test
X_train, X_test, y_train, y_test = train_test_split(previsores1,
                                                    classe,
                                                    test_size= 0.3,
                                                    stratify= classe,
                                                    random_state= 0)

X_train

array([[3, 1, 29.0, ..., 0, 7.775, 2],
       [3, 1, 21.0, ..., 0, 8.6625, 2],
       [3, 1, 28.0, ..., 0, 16.1, 2],
       ...,
       [3, 1, 32.0, ..., 0, 56.4958, 2],
       [3, 1, 28.0, ..., 0, 21.6792, 0],
       [3, 1, 22.0, ..., 0, 9.0, 2]], dtype=object)

In [284]:
#treinando
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [285]:
#testando 
previsoes = nb.predict(X_test)

In [286]:
#verificando precis√£o
accuracy_score(previsoes, y_test)

0.8022388059701493